<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>weather.underground.manifestinteractive</string>
	<key>version</key>
    <string>1.0</string>
	<key>connections</key>
	<dict>
		<key>075CEC33-404F-41DA-A177-31C2C0BDE6B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74CEA290-EE2D-43D5-9CD9-6A1EFF14A6D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3C046E40-0C5D-428E-9844-BDF3118C8E6A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9A463350-A5C8-4B29-913E-90CAED370D70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F5DE03D-EB83-4345-9E84-FDC6D1DAAD8F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5075C62-F1AA-466E-AE3F-52B6B62AC854</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>20BED6BE-5509-465B-B7F9-C549E96BB8DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61D8E89F-C232-4456-A890-2F70857A8354</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>20DC742B-0E2A-40B6-AF98-85674AD7654C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3BAF66B3-1965-4748-9082-DA236811ECB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D6BBDAE2-3C76-4BA9-9ED4-FF0A4786C2DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>20DC742B-0E2A-40B6-AF98-85674AD7654C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F33D26B-ED56-423F-95AC-F623B9C8A813</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2F33D26B-ED56-423F-95AC-F623B9C8A813</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFE0333F-BF44-4CDF-9393-7F0D045E0C55</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>38BA1780-D153-4B37-B578-962BB725996F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E4739CB4-B666-4ABA-B775-2A4879ADDF3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3BAF66B3-1965-4748-9082-DA236811ECB6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF0B098E-49BE-4081-828B-717F44FCA778</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3C046E40-0C5D-428E-9844-BDF3118C8E6A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61D8E89F-C232-4456-A890-2F70857A8354</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4FC01647-2836-45DA-8345-783A9173A2CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>885A5099-9DD2-4DE0-AE86-86F4A0E293DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5150A415-2C9A-4F65-9EC0-2A3E560B8265</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>075CEC33-404F-41DA-A177-31C2C0BDE6B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>61D8E89F-C232-4456-A890-2F70857A8354</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38BA1780-D153-4B37-B578-962BB725996F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>74CEA290-EE2D-43D5-9CD9-6A1EFF14A6D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2FB3BD58-39F4-4CA8-927C-19ADAEBC206F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>75C1C475-DBF5-478F-9B98-B8F6832F0DA9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E4BCF78B-D4DD-4A4D-9194-EE553EE03E0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>778686C1-B17D-4AEB-B89B-34264C9765FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0068E64-8E91-48F6-96BD-D3793D232839</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7B437397-520B-49E7-8E5F-A72BF9CC3449</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5075C62-F1AA-466E-AE3F-52B6B62AC854</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>885A5099-9DD2-4DE0-AE86-86F4A0E293DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA52F4FD-BEDD-4247-B1C8-C070F21151E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8F7EF8DF-8918-452B-8867-38FD0F6E5699</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F5DE03D-EB83-4345-9E84-FDC6D1DAAD8F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>94B01AE7-0BD5-4C96-B681-E49CFEC34F95</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>778686C1-B17D-4AEB-B89B-34264C9765FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>998EC590-CCD9-4854-BFBC-B327243F297A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>75C1C475-DBF5-478F-9B98-B8F6832F0DA9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7B437397-520B-49E7-8E5F-A72BF9CC3449</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A463350-A5C8-4B29-913E-90CAED370D70</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20DC742B-0E2A-40B6-AF98-85674AD7654C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A0068E64-8E91-48F6-96BD-D3793D232839</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5075C62-F1AA-466E-AE3F-52B6B62AC854</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AA52F4FD-BEDD-4247-B1C8-C070F21151E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74CEA290-EE2D-43D5-9CD9-6A1EFF14A6D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3C046E40-0C5D-428E-9844-BDF3118C8E6A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9A463350-A5C8-4B29-913E-90CAED370D70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6376599-3834-4501-B9B4-E523E52A2F9C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4FC01647-2836-45DA-8345-783A9173A2CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ED2F2273-1EE7-4DA9-9E2B-BB45957A67DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF0B098E-49BE-4081-828B-717F44FCA778</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F7EF8DF-8918-452B-8867-38FD0F6E5699</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CFE0333F-BF44-4CDF-9393-7F0D045E0C55</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D839B247-F4A7-4B8B-B3F1-1A0378544F38</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D6BBDAE2-3C76-4BA9-9ED4-FF0A4786C2DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94B01AE7-0BD5-4C96-B681-E49CFEC34F95</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D839B247-F4A7-4B8B-B3F1-1A0378544F38</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5075C62-F1AA-466E-AE3F-52B6B62AC854</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E4739CB4-B666-4ABA-B775-2A4879ADDF3B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>998EC590-CCD9-4854-BFBC-B327243F297A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED2F2273-1EE7-4DA9-9E2B-BB45957A67DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5150A415-2C9A-4F65-9EC0-2A3E560B8265</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Peter Schmalfeldt</string>
	<key>description</key>
	<string>Get Current Weather and 3 Day Forecast</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Weather Underground</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2FB3BD58-39F4-4CA8-927C-19ADAEBC206F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Requesting current local conditions ...</string>
				<key>script</key>
				<string>php -f weather.php</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>View current weather conditions</string>
				<key>title</key>
				<string>Current Weather</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AA52F4FD-BEDD-4247-B1C8-C070F21151E4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>[^location|api]</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>74CEA290-EE2D-43D5-9CD9-6A1EFF14A6D0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>conditions</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>885A5099-9DD2-4DE0-AE86-86F4A0E293DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>conditions</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>4FC01647-2836-45DA-8345-783A9173A2CD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Forecast","arg":"forecast","subtitle":"Show the upcoming weather forecast"},{"title":"Current Weather","arg":"conditions","subtitle":"View current weather conditions"}]</string>
				<key>keyword</key>
				<string>wu</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Weather Underground</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>B6376599-3834-4501-B9B4-E523E52A2F9C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>api</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>3C046E40-0C5D-428E-9844-BDF3118C8E6A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Requesting local forecast ...</string>
				<key>script</key>
				<string>php -f forecast.php</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Show the upcoming weather forecast</string>
				<key>title</key>
				<string>Forecast</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>075CEC33-404F-41DA-A177-31C2C0BDE6B2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>location</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>9A463350-A5C8-4B29-913E-90CAED370D70</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>forecast</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>ED2F2273-1EE7-4DA9-9E2B-BB45957A67DE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>forecast</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>5150A415-2C9A-4F65-9EC0-2A3E560B8265</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E4BCF78B-D4DD-4A4D-9194-EE553EE03E0F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>https://www.wunderground.com/weather/api</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>75C1C475-DBF5-478F-9B98-B8F6832F0DA9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>$query = '{query}';

if ($query === 'https://www.wunderground.com/weather/api') {
	echo $query;
} else {
	require_once('workflows.php');
	$w = new Workflows();

	exec('touch settings.plist');

	$w-&gt;set('api.key', '{query}', 'settings.plist');

	echo "API Key Saved {query}";
}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>998EC590-CCD9-4854-BFBC-B327243F297A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>php -f setup.php -- '{query}' 'api'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E4739CB4-B666-4ABA-B775-2A4879ADDF3B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>api</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>61D8E89F-C232-4456-A890-2F70857A8354</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>api</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>38BA1780-D153-4B37-B578-962BB725996F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>https://www.wunderground.com/weather/api</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>7B437397-520B-49E7-8E5F-A72BF9CC3449</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>php -f setup.php -- '{query}' 'location'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CFE0333F-BF44-4CDF-9393-7F0D045E0C55</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>require_once('workflows.php');
$w = new Workflows();

exec('touch settings.plist');

$w-&gt;set('default.location', '{query}', 'settings.plist');

echo "Default Weather Location Saved";</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D839B247-F4A7-4B8B-B3F1-1A0378544F38</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>location</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>2F33D26B-ED56-423F-95AC-F623B9C8A813</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>location</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>20DC742B-0E2A-40B6-AF98-85674AD7654C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Set API Key","arg":"api","subtitle":"Set your Weather Underground API Key"},{"title":"Set Location","arg":"location","subtitle":"Set your Weather Location"},{"title":"Set Icon Color","arg":"icon","subtitle":"Pick an Icon Color for your Alfred Theme"},{"title":"Set Weather Unit","arg":"unit","subtitle":"Set your preferred Weather Unit"}]</string>
				<key>keyword</key>
				<string>wu-setup</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Configure Weather Underground Settings</string>
				<key>title</key>
				<string>Weather Underground Setup</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>20BED6BE-5509-465B-B7F9-C549E96BB8DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Weather Underground Setup Saved</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D5075C62-F1AA-466E-AE3F-52B6B62AC854</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>php -f setup.php -- '{query}' 'icon'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8F7EF8DF-8918-452B-8867-38FD0F6E5699</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>require_once('workflows.php');
$w = new Workflows();

exec('touch settings.plist');

$w-&gt;set('icon.color', '{query}', 'settings.plist');

echo "Using {query} icons";</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1F5DE03D-EB83-4345-9E84-FDC6D1DAAD8F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>icon</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>CF0B098E-49BE-4081-828B-717F44FCA778</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>icon</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>3BAF66B3-1965-4748-9082-DA236811ECB6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>require_once('workflows.php');
$w = new Workflows();

exec('touch settings.plist');

$w-&gt;set('preferred.unit', '{query}', 'settings.plist');

echo "Weather Unit Saved";</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A0068E64-8E91-48F6-96BD-D3793D232839</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>php -f setup.php -- '{query}' 'unit'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>778686C1-B17D-4AEB-B89B-34264C9765FD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>unit</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>D6BBDAE2-3C76-4BA9-9ED4-FF0A4786C2DE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>unit</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>94B01AE7-0BD5-4C96-B681-E49CFEC34F95</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>USAGE INSTRUCTIONS:

Before you can run this Workflow you will need to complete the Setup.

CONFIGURE SETTINGS:

* wu-setup api ( REQUIRED: Provide your Weather Underground API Key )
* wu-setup location ( REQUIRED: Provide your City or Zipcode )
* wu-setup icon ( OPTIONAL: Choose whether you want Black or White icons )
* wu-setup unit ( OPTIONAL: Choose whether you want Fahrenheit or Celsius )

GET API KEY:

https://www.wunderground.com/weather/api

GETTING WEATHER:

* wu current ( Fetch current weather for your location )
* wu forecast ( Fetch 3 day forecast for your location )</string>
	<key>uidata</key>
	<dict>
		<key>075CEC33-404F-41DA-A177-31C2C0BDE6B2</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>1F5DE03D-EB83-4345-9E84-FDC6D1DAAD8F</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>820</integer>
		</dict>
		<key>20BED6BE-5509-465B-B7F9-C549E96BB8DF</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>20DC742B-0E2A-40B6-AF98-85674AD7654C</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>710</integer>
		</dict>
		<key>2F33D26B-ED56-423F-95AC-F623B9C8A813</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>710</integer>
		</dict>
		<key>2FB3BD58-39F4-4CA8-927C-19ADAEBC206F</key>
		<dict>
			<key>xpos</key>
			<integer>1000</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>38BA1780-D153-4B37-B578-962BB725996F</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>3BAF66B3-1965-4748-9082-DA236811ECB6</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>850</integer>
		</dict>
		<key>3C046E40-0C5D-428E-9844-BDF3118C8E6A</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>4FC01647-2836-45DA-8345-783A9173A2CD</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>5150A415-2C9A-4F65-9EC0-2A3E560B8265</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>61D8E89F-C232-4456-A890-2F70857A8354</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>74CEA290-EE2D-43D5-9CD9-6A1EFF14A6D0</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>75C1C475-DBF5-478F-9B98-B8F6832F0DA9</key>
		<dict>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>778686C1-B17D-4AEB-B89B-34264C9765FD</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>960</integer>
		</dict>
		<key>7B437397-520B-49E7-8E5F-A72BF9CC3449</key>
		<dict>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>885A5099-9DD2-4DE0-AE86-86F4A0E293DF</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>8F7EF8DF-8918-452B-8867-38FD0F6E5699</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>820</integer>
		</dict>
		<key>94B01AE7-0BD5-4C96-B681-E49CFEC34F95</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>990</integer>
		</dict>
		<key>998EC590-CCD9-4854-BFBC-B327243F297A</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>9A463350-A5C8-4B29-913E-90CAED370D70</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>A0068E64-8E91-48F6-96BD-D3793D232839</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>960</integer>
		</dict>
		<key>AA52F4FD-BEDD-4247-B1C8-C070F21151E4</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>B6376599-3834-4501-B9B4-E523E52A2F9C</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>CF0B098E-49BE-4081-828B-717F44FCA778</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>850</integer>
		</dict>
		<key>CFE0333F-BF44-4CDF-9393-7F0D045E0C55</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>680</integer>
		</dict>
		<key>D5075C62-F1AA-466E-AE3F-52B6B62AC854</key>
		<dict>
			<key>xpos</key>
			<integer>1000</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>D6BBDAE2-3C76-4BA9-9ED4-FF0A4786C2DE</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>990</integer>
		</dict>
		<key>D839B247-F4A7-4B8B-B3F1-1A0378544F38</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>680</integer>
		</dict>
		<key>E4739CB4-B666-4ABA-B775-2A4879ADDF3B</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>E4BCF78B-D4DD-4A4D-9194-EE553EE03E0F</key>
		<dict>
			<key>xpos</key>
			<integer>1000</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>ED2F2273-1EE7-4DA9-9E2B-BB45957A67DE</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/manifestinteractive/weather-underground-alfred-workflow</string>
</dict>
</plist>
